* {
  box-sizing: border-box;
  background-color: beige;
}

.grid {
  width: 800px;
  height: 200px;
  margin: auto;
  margin-top: 20%;
  /* background-color: azure; */
  position: relative;
  color: darkred;
  text-align: center;
  font-size: xx-large;
  overflow: hidden;
}

.dino {
  width: 60px;
  height: 60px;
  margin: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./t-rex.png);
  /* background-color: azure; */
}

.obstacle {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-image: url(./cacti.png);
  /* background-color: azure; */
  position: absolute;
  bottom: 0;
  right: 0;
}
